.car-reviews {
    margin: 2em 0 0 0;
    padding: 1em 1em;
}

.car-reviews .no-reviews-p {
    text-align: center;
    font-size: 1.2em;
}

.car-reviews h2 {
    font-family: 'Protest Riot', sans-serif;
}

.car-reviews .rating-p {
    margin: 0 0 1em 0;
    font-family: 'Protest Riot', sans-serif;
    font-size: 1.2em;
}