.offers {
	margin-top: 140px;
}

.offers .service-item {
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
	transition: transform 0.4s;
}

.offers .service-item:hover {
	transform: scale(1.05);
}

.offers .service-item img {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.offers .service-item .down-content {
	background-color: #f7f7f7;
	padding: 30px;
}

.offers .service-item .down-content h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.25px;
	margin-bottom: 15px;
}

.offers .service-item .down-content p {
	margin-bottom: 20px;
}

.offers.page-link:hover,
.offers .page-link {
	color: #a4c639;
}

.offers .btn-primary {
	border-color: #a4c639;
	background-color: #a4c639;
}

.offers .btn-primary:hover,
.offers .btn-primary:focus,
.offers .btn-primary:active,
.offers .btn-primary:active:focus{
	opacity: 0.6;
	border-color: #a4c639;
	background-color: #a4c639;
}

.offers .count-area-content {
	text-align: center;
	background-color: rgba(250,250,250,0.1);
	padding: 25px 30px 35px 30px;
	margin: 15px 0px;
}

.offers .count-digit {
    margin: 5px 0px;
    color: #a4c639;
    font-weight: 700;
    font-size: 36px;
}

.offers .count-title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
}