.filter {
    margin-top: 5em;
}

.filter p {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
}

.filter .container {
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
}

.filter .container form {
    padding: 2em 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.filter .container form .left-content {
    width: 80%;
}

.filter .left-content .search-section {
    margin: 0 0 3em 0;
}

.filter .search-section .search-content {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.filter .sort-section .sort-content {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.filter .container .left-content .select-box {
    width: 45%;
    min-width: 13em;
    padding: 1em;
    flex: 1 1 auto;
    color: #878E9C;
    background-color: #F7F7F7;
    border: none;
    outline: none;
}

.filter .container form .right-content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter .right-content button {
    padding: 1em 1.5em;
    color: #ffffff;
    background-color: #A4C639;
    font-weight: bold;
    border-radius: 0.3em;
    border: none;
    outline: none;
    transition: 0.4s;
}

.filter .right-content button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 992px) {
    .filter .container form {
        justify-content: center;
    }
}