.pagination .page-item .page-link {
    color: #A4C639;
    width: 100%;
    height: 100%;
}

.pagination .page-item.active .page-link {
    background-color: #A4C639;
    color: #ffffff;
    border: none;
    outline: none;
    box-shadow: none;
}

.pagination .page-item .page-link span {
    margin: 0;
    font-size: 1em;
    color: #A4C639;
}

.pagination .page-item.disabled .page-link span {
    color: #6c757d;
}