.car-reviews .single-review {
    margin: 0 0 1em 0;
    display: flex;
    align-items: flex-start;
    gap: 2em;
}

.car-reviews .single-review img {
    max-width: 5em;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
}

.car-reviews .single-review h5 span {
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.7em;
}

.car-reviews .single-review .review-content {
    flex: 1 1 auto;
}

.car-reviews .single-review .review-stars span {
    font-size: 1.2em;
}

.car-reviews .single-review .checked {
    color: orange;
}